<% content_for :title do %>Code4SA Dashboard<% end %>

<div class="gridster">
  <ul>
<% for property in websites %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="<%=property.id %>" data-view="Rickshawgraph" data-title="<%=property.title %>" data-default-alpha="0.3" <% if property['max'] %>data-max="<%= property['max'] %>"<% end %> data-xaxis="none" class="website <%=property['class']%>"></div>
    </li>
<% end %>

<% for property in apis %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="<%=property.id %>" data-view="Rickshawgraph" data-title="<%=property.title %>" data-default-alpha="0.3" <% if property['max'] %>data-max="<%= property['max'] %>"<% end %> data-xaxis="none" class="api <%=property['class']%>"></div>
    </li>
<% end %>

    <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="naked-data-subscribers" data-view="Number" data-title="Naked Data Subs"></div>
    </li>
  </ul>
</div>
